@font-face {
  font-family: Futura;
  src: url("./fonts/Futura Std Book.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Futura;
  font-weight: 900;
  src: url("./fonts/Futura Std Heavy.ttf");
}
@font-face {
  font-family: Futura;
  font-weight: 300;
  src: url("./fonts/Futura Thin.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Futura, Lato, Helvetica, sans-serif;
  background-color: #161616;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.heading-1 {
  font-weight: 900;
  font-size: 75px;
}

.heading-2 {
  font-weight: 700;
  font-size: 35px;
}

.heading-3 {
  font-weight: 700;
  font-size: 25px;
}

.text-base {
  font-weight: 500;
  font-size: 16px;
}

.text-primary {
  color: #0e8388;
}

.text-secondary {
  color: #2e4f4f;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #cbe4de;
}

.nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #161616;
  overflow: hidden;
}
.nav__link-list-container {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}
.nav__link-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav__link-list-opener {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.nav__link-list-opener img {
  width: 1.5rem;
  height: 1.5rem;
}
.nav__link-list-opener:hover {
  transform: rotate(3deg);
}
.nav__link-list-closer {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  transition: transform 0.4s ease;
}
.nav__link-list-closer img {
  width: 1.5rem;
  height: 1.5rem;
}
.nav__link-list-closer:hover {
  transform: rotate(-3deg);
}
.nav__logo {
  font-size: 25px;
}
.nav__link, .nav__link:link, .nav__link:visited, .nav__link:active {
  color: #cbe4de;
  text-decoration: none;
}
.nav__btn, .nav__btn:link, .nav__btn:visited, .nav__btn:active {
  color: #cbe4de;
  text-decoration: none;
  border: 1px solid #cbe4de;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 900px) {
  .nav__link-list-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #142222;
    transform: translateX(-100%);
    z-index: 1000;
  }
  .nav__link-list {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
  }
  .nav__link-list .nav__link, .nav__link-list .nav__btn {
    font-size: 25px;
  }
  .nav__link-list li:first-child {
    margin-top: 3rem;
  }
  .nav__link-list li:last-child {
    margin-bottom: 3rem;
  }
  .nav__link-list-opener, .nav__link-list-closer {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .nav__link-list .nav__link, .nav__link-list .nav__btn {
    font-size: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
