<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="../main.css" />
		<script src="../../js/lib/gsap.min.js"></script>
		<script src="../../js/lib/ScrollTrigger.min.js"></script>
		<script src="../../js/lib/swiper-element-bundle.min.js"></script>
		<title>Thiaper</title>
	</head>
	<body>
		<main class="relative container-hd mx-auto overflow-x-hidden">
			<section class="banner banner--secondary container">
				<div class="banner__bg">
					<img src="../img/placeholder/banner.jpg" alt="" />
				</div>
				<div class="banner__content">
					<h1 class="heading-1">
						<div class="text-white">UP TO 80% OFF</div>
						<div>CLEARANCE</div>
					</h1>
					<div class="banner__content__links">
						<a href="#" class="btn btn--primary"> Shop Now </a>
						<a href="#" class="btn btn--light-3">
							Subscribe To Newsletter
						</a>
					</div>
				</div>
			</section>
			<section class="banner--double banner--primary container">
				<div class="banner--double__content">
					<div class="banner__content__bg">
						<img src="../img/placeholder/banner-1.jpg" alt="" />
					</div>
					<h1 class="heading-1">
						<div class="text-white">UP TO 80% OFF</div>
						<div>CLEARANCE</div>
					</h1>
					<div class="banner__content__links">
						<a href="#" class="btn btn--primary"> Shop Now </a>
						<a href="#" class="btn btn--light-3">
							Subscribe To Newsletter
						</a>
					</div>
				</div>
				<div class="banner--double__content">
					<div class="banner__content__bg">
						<img src="../img/placeholder/banner-2.jpg" alt="" />
					</div>
					<h2 class="heading-2">20% OFF T-SHIRTS</h2>
					<div class="banner__content__links">
						<a href="#" class="btn btn--secondary"> Shop Now </a>
					</div>
				</div>
			</section>
			<section class="banner--triple banner--black container">
				<div class="banner--triple__content">
					<div class="banner__content__bg">
						<img src="../img/placeholder/banner-4.jpg" alt="" />
					</div>
					<h1 class="heading-1">
						<div class="text-black">BIGEST</div>
						<div class="text-primary">CLEARANCE</div>
					</h1>
					<div class="banner__content__links">
						<a href="#" class="btn btn--primary"> Shop Now </a>
					</div>
				</div>
				<div class="banner--triple__content">
					<div class="banner__content__bg">
						<img src="../img/placeholder/banner.jpg" alt="" />
					</div>
					<h2 class="heading-2">
						<div class="text-secondary">BIG</div>
						<div class="text-white">SHOPPING</div>
						<div class="text-primary">WEEK-END</div>
					</h2>
					<div class="banner__content__links">
						<a href="#" class="btn btn--light"> -10% Coupon </a>
					</div>
				</div>
				<div class="banner--triple__content">
					<div class="banner__content__bg">
						<img src="../img/placeholder/banner-2.jpg" alt="" />
					</div>
					<h2 class="heading-2">20% OFF T-SHIRTS</h2>
					<div class="banner__content__links">
						<a href="#" class="btn btn--secondary"> Shop Now </a>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
