<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="../main.css" />
		<script src="../js/lib/gsap.min.js"></script>
		<script src="../js/lib/ScrollTrigger.min.js"></script>
		<script src="../js/lib/swiper-element-bundle.min.js"></script>
		<title>Thiaper</title>
	</head>
	<body>
		<main class="container-hd mx-auto">
			<h1 class="heading-3 text-white text-center mt-3 mb-1">
				COLLECTIONS GRID
			</h1>
			<section class="collections-grid section">
				<h2
					class="heading-2 text-white text-center collections-grid__title"
				>
					Get Inspired
				</h2>
				<div class="collections-grid__items">
					<a href="#" class="collections-grid__item">
						<img
							src="../img/placeholder/casual-outfit.jpg"
							alt=""
						/>
						<p class="heading-3 text-white mt-1 mb-half">
							New Season
						</p>
					</a>
					<a href="#" class="collections-grid__item">
						<img src="../img/placeholder/training-day.jpg" alt="" />
						<p class="heading-3 text-white mt-1 mb-half">
							Sportswear
						</p>
						<div class="collections-grid__item__discount">
							Up to 30%
						</div>
					</a>
					<a href="#" class="collections-grid__item">
						<img
							src="../img/placeholder/accessories-2.jpg"
							alt=""
						/>
						<p class="heading-3 text-white mt-1 mb-half">
							Accessories
						</p>
						<div class="collections-grid__item__discount">
							Up to 20%
						</div>
					</a>
					<a href="#" class="collections-grid__item">
						<img src="../img/placeholder/elegance.jpg" alt="" />
						<p class="heading-3 text-white mt-1 mb-half">
							Elegance
						</p>
						<div class="collections-grid__item__discount">
							Up to 26%
						</div>
					</a>
					<a href="#" class="collections-grid__item">
						<img src="../img/placeholder/jeans.jpg" alt="" />
						<p class="heading-3 text-white mt-1 mb-half">
							♥ Jeans ♥
						</p>
						<div class="collections-grid__item__discount">
							Up to 50%
						</div>
					</a>
					<a href="#" class="collections-grid__item">
						<img src="../img/placeholder/converse.jpg" alt="" />
						<p class="heading-3 text-white mt-1 mb-half">Shoes</p>
						<div class="collections-grid__item__discount">
							Up to 60%
						</div>
					</a>
				</div>
			</section>
		</main>
	</body>

	<script src="../js/components/navbar.js"></script>
	<script src="../js/animations.js"></script>
</html>
