<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="../main.css" />
		<script src="../js/lib/gsap.min.js"></script>
		<script src="../js/lib/ScrollTrigger.min.js"></script>
		<script src="../js/lib/swiper-element-bundle.min.js"></script>
		<title>Thiaper</title>
	</head>
	<body>
		<main class="container-hd mx-auto">
			<h1 class="heading-3 text-white text-center mt-3 mb-1">
				E-MAIL SUBSCRIPTION
			</h1>
			<section class="email-sub">
				<h2 class="heading-1 text-white">
					Subscribe to our newsletter and get a 10% voucher!
				</h2>
				<form action="javascript:void(0)" class="email-sub__form">
					<input
						type="email"
						name="email"
						id="sub-email"
						class="email-sub__form__input"
						placeholder="E-mail address"
					/>
					<button
						type="submit"
						class="btn btn--light btn--large email-sub__form__sumbit"
					>
						Subscribe
					</button>
				</form>
				<p class="email-sub__text">
					Learn about fashion trends, offers & vouchers!
				</p>
				<p class="email-sub__text">
					Unsubscribe at any time by sending us an E-Mail to
					support@thiaper.com.
				</p>
				<p class="email-sub__text">
					Please click here to view our
					<a href="#">privacy policy</a>.
				</p>
			</section>
		</main>
	</body>

	<script src="../js/components/navbar.js"></script>
	<script src="../js/animations.js"></script>
</html>
