<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="../main.css" />
		<script src="../js/lib/gsap.min.js"></script>
		<script src="../js/lib/ScrollTrigger.min.js"></script>
		<script src="../js/lib/swiper-element-bundle.min.js"></script>
		<title>Thiaper</title>
	</head>
	<body>
		<h1 class="heading-3 text-white text-center mt-3 mb-1">HERO 1</h1>
		<main class="container-hd mx-auto">
			<section class="hero section">
				<div class="hero__img">
					<img src="../img/placeholder/women.jpg" alt="" />
				</div>
				<div class="hero__content">
					<h1 class="heading-1 text-white hero__content__title">
						Summer is finnaly here
					</h1>
					<a class="btn btn--primary btn--large mt-1" href="#">
						New Deals For Him
					</a>
					<a class="btn btn--secondary btn--large mt-1" href="#">
						New Deals For Her
					</a>
				</div>
				<div class="hero__line" aria-hidden="true"></div>
			</section>
		</main>
	</body>

	<script src="../js/components/navbar.js"></script>
	<script src="../js/animations.js"></script>
</html>
