<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../main.css" />
		<title>Thiaper</title>
	</head>
	<body>
		<nav class="nav">
			<a href="#" class="nav__logo nav__link slide-form-left"
				>Company Logo</a
			>
			<div id="nav__link-list-container" class="nav__link-list-container">
				<ul id="nav__link-list" class="nav__link-list">
					<li><a href="#" class="nav__link">link</a></li>
					<li><a href="#" class="nav__link">link</a></li>
					<li><a href="#" class="nav__link">link</a></li>
					<li><a href="#" class="nav__btn">Button</a></li>
				</ul>
				<button
					id="nav__link-list-closer"
					type="button"
					class="nav__link-list-closer"
					aria-controls="nav__link-list-container"
					aria-expanded="false"
					aria-label="Close navigation"
				>
					<img src="../img/icons/x-white.svg" alt="X icon" />
				</button>
			</div>
			<button
				id="nav__link-list-opener"
				type="button"
				class="nav__link-list-opener"
				aria-controls="nav__link-list-container"
				aria-expanded="false"
				aria-label="Open navigation"
			>
				<img
					src="../img/icons/hamburger-white.svg"
					alt="Hamburger icon"
				/>
			</button>
		</nav>
	</body>
	<script src="../js/gsap/gsap.min.js"></script>
	<script src="../js/animations.js"></script>
</html>
