<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/swiper-bundle.min.css" />
		<link rel="stylesheet" href="../main.css" />
		<script src="../js/lib/gsap.min.js"></script>
		<script src="../js/lib/swiper-element-bundle.min.js"></script>
		<title>Thiaper</title>
	</head>
	<body>
		<!-- START SIMPLE NAVIGATION -->
		<h1 class="heading-3 text-white text-center mt-3 mb-1">
			SIMPLE NAVIGATION
		</h1>
		<nav class="nav container-hd mx-auto">
			<div class="nav-main">
				<a href="#" class="nav__logo nav__link">Company Logo</a>
				<button
					type="button"
					class="nav__link-list-opener"
					aria-controls="nav__link-list-container"
					aria-expanded="false"
					aria-label="Open mobile navigation"
				>
					<img
						src="../img/icons/hamburger-white.svg"
						alt="Hamburger icon"
					/>
				</button>
				<div
					id="nav__link-list-container"
					class="nav__link-list-container"
				>
					<button
						type="button"
						class="nav__link-list-closer"
						aria-controls="nav__link-list-container"
						aria-expanded="false"
						aria-label="Close mobile navigation"
					>
						<img src="../img/icons/x-white.svg" alt="X icon" />
					</button>
					<div
						id="nav__link-list"
						class="nav__link-list scrollbar-hide"
					>
						<a href="#" class="nav__link">
							<span class="flex gap-half"
								><span class="nav__link__icon">
									<img
										src="../img/icons/shopping-bag-white.svg"
										alt=""
									/> </span
								><span>Cart</span>
							</span>
						</a>
						<a href="#" class="nav__link"
							><span class="flex gap-half"
								><span class="nav__link__icon">
									<img
										src="../img/icons/heart-icon-white.svg"
										alt=""
									/> </span
								><span>Wishlist</span></span
							></a
						>
						<a href="#" class="nav__link"
							><span class="flex gap-half"
								><span class="nav__link__icon">
									<img
										src="../img/icons/discount-icon-white.svg"
										alt=""
									/> </span
								><span>Coupons</span></span
							></a
						>
						<a href="#" class="nav__btn">Login</a>
					</div>
				</div>
			</div>
		</nav>
		<!-- END SIMPLE NAVIGATION -->
		<!--  -->
		<!--  -->
		<!--  -->
		<!--  -->
		<!--  -->
		<!-- START NAVIGATION WITH COLLECTIONS -->
		<h1 class="heading-3 text-white text-center mt-3 mb-1">
			NAVIGATION WITH COLLECTIONS
		</h1>
		<nav class="nav container-hd mx-auto">
			<div class="nav-main">
				<a href="#" class="nav__logo nav__link">Company Logo</a>
				<button
					type="button"
					class="nav__link-list-opener"
					aria-controls="nav__link-list-container"
					aria-expanded="false"
					aria-label="Open mobile navigation"
				>
					<img
						src="../img/icons/hamburger-white.svg"
						alt="Hamburger icon"
					/>
				</button>
				<div
					id="nav__link-list-container"
					class="nav__link-list-container"
				>
					<button
						type="button"
						class="nav__link-list-closer"
						aria-controls="nav__link-list-container"
						aria-expanded="false"
						aria-label="Close mobile navigation"
					>
						<img src="../img/icons/x-white.svg" alt="X icon" />
					</button>
					<div
						id="nav__link-list"
						class="nav__link-list scrollbar-hide"
					>
						<a href="#" class="nav__link">
							<span class="flex gap-half"
								><span class="nav__link__icon">
									<img
										src="../img/icons/shopping-bag-white.svg"
										alt=""
									/> </span
								><span>Cart</span>
							</span>
						</a>
						<a href="#" class="nav__link"
							><span class="flex gap-half"
								><span class="nav__link__icon">
									<img
										src="../img/icons/heart-icon-white.svg"
										alt=""
									/> </span
								><span>Wishlist</span></span
							></a
						>
						<a href="#" class="nav__link"
							><span class="flex gap-half"
								><span class="nav__link__icon">
									<img
										src="../img/icons/discount-icon-white.svg"
										alt=""
									/> </span
								><span>Coupons</span></span
							></a
						>
						<a href="#" class="nav__btn">Login</a>
						<h5 class="nav__link-list__title">Collections</h5>
					</div>
				</div>
			</div>
			<div class="nav-collections">
				<ul id="nav-collections__links" class="nav-collections__links">
					<li>
						<a href="#" class="nav-collections__link"> Men </a>
					</li>
					<li>
						<a href="#" class="nav-collections__link"> Women </a>
					</li>
					<li>
						<a
							href="#"
							class="nav-collections__link"
							aria-controls="nav-collections__list-1"
							aria-expanded="false"
						>
							Clothes
						</a>
						<div
							id="nav-collections__list-1"
							class="nav-collections__list"
						>
							<hgroup class="container mx-auto">
								<h5 class="heading-3 mb-1half">Categories</h5>
							</hgroup>
							<div class="container flex gap-1half mx-auto">
								<div class="nav-collections__list__showcase">
									<img
										class="nav-collections__list__showcase__img"
										src="../img/placeholder/summer-outfit.jpg"
										alt=""
									/>
									<a
										href="#"
										class="nav-collections__list__showcase__link"
									>
										Shop Now
									</a>
								</div>
								<dl class="nav-collections__list__sublist">
									<dt>Casual</dt>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
								</dl>
								<dl class="nav-collections__list__sublist">
									<dt>Sport</dt>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
								</dl>
							</div>
							<div class="container mx-auto relative">
								<h5 class="heading-3 my-1half">Brands</h5>
								<div class="relative h-2half">
									<div class="swiper">
										<div
											class="swiper-wrapper nav-collections__brand-list"
										>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Puma</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Nike</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Adidas</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>New Balance</a
												>
											</div>
										</div>
									</div>

									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a
							href="#"
							class="nav-collections__link"
							aria-controls="nav-collections__list-2"
							aria-expanded="false"
						>
							Shoes
						</a>
						<div
							id="nav-collections__list-2"
							class="nav-collections__list"
						>
							<hgroup class="container mx-auto">
								<h5 class="heading-3 mb-1half">Categories</h5>
							</hgroup>
							<div class="container flex gap-1half mx-auto">
								<dl class="nav-collections__list__sublist">
									<dt>Sneakers</dt>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
								</dl>
								<dl class="nav-collections__list__sublist">
									<dt>Business shoes</dt>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
								</dl>
								<div class="nav-collections__list__showcase">
									<img
										class="nav-collections__list__showcase__img"
										src="../img/placeholder/golden-boots.jpg"
										alt=""
									/>
									<a
										href="#"
										class="nav-collections__list__showcase__link"
									>
										Shop Now
									</a>
								</div>
							</div>
							<div class="container mx-auto relative">
								<h5 class="heading-3 my-1half">Brands</h5>
								<div class="relative h-2half">
									<div class="swiper">
										<div
											class="swiper-wrapper nav-collections__brand-list"
										>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Puma</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Nike</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Adidas</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>New Balance</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Dsquared</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Tom Ford</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Puma</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Nike</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Adidas</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>New Balance</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Dsquared</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Tom Ford</a
												>
											</div>
										</div>
									</div>

									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<a
							href="#"
							class="nav-collections__link"
							aria-controls="nav-collections__list-3"
							aria-expanded="false"
						>
							Accessories
						</a>
						<div
							id="nav-collections__list-3"
							class="nav-collections__list"
						>
							<div class="container flex gap-1half mx-auto">
								<div class="nav-collections__list__showcase">
									<img
										class="nav-collections__list__showcase__img"
										src="../img/placeholder/accessories.jpg"
										alt=""
									/>
									<a
										href="#"
										class="nav-collections__list__showcase__link"
									>
										Shop Now
									</a>
								</div>
								<dl class="nav-collections__list__sublist">
									<dt>Watches</dt>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
								</dl>
								<dl class="nav-collections__list__sublist">
									<dt>Jewellery</dt>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
								</dl>
								<dl class="nav-collections__list__sublist">
									<dt>Belts</dt>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
									<dd>
										<a
											href="#"
											class="nav-collections__list__sublist__link"
											>Link</a
										>
									</dd>
								</dl>
							</div>
							<div class="container mx-auto relative">
								<h5 class="heading-3 my-1half">Brands</h5>
								<div class="relative h-2half">
									<div class="swiper">
										<div
											class="swiper-wrapper nav-collections__brand-list"
										>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Puma</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Nike</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Adidas</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>New Balance</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Dsquared</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Tom Ford</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Puma</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Nike</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Adidas</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>New Balance</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Dsquared</a
												>
											</div>
											<div class="swiper-slide">
												<a
													class="nav-collections__brand-list__link"
													href="#"
													>Tom Ford</a
												>
											</div>
										</div>
									</div>

									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<!-- END NAVIGATION WITH COLLECTIONS -->
	</body>
	<script src="../js/components/navbar.js"></script>
</html>
