.heading-1 {
	font-weight: 900;
	font-size: $fsize-1;
}

.heading-2 {
	font-weight: 700;
	font-size: $fsize-2;
}

.heading-3 {
	font-weight: 700;
	font-size: $fsize-3;
}

.text-base {
	font-weight: 500;
	font-size: $fsize-base;
}

// Colors
.text-primary {
	color: $primary;
}

.text-secondary {
	color: $secondary;
}

.text-black {
	color: $black;
}

.text-white {
	color: $white;
}
.text-lightgray {
	color: $lightgray;
}

.text-darkgray {
	color: $darkgray;
}

.text-gray {
	color: $gray;
}

// Alignment
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

@media screen and (max-width: 900px) {
	.heading-1 {
		font-weight: 900;
		font-size: 50px;
	}

	.heading-2 {
		font-weight: 700;
		font-size: 30px;
	}

	.heading-3 {
		font-weight: 700;
		font-size: 20px;
	}

	.text-base {
		font-weight: 500;
		font-size: 14px;
	}
}

@media screen and (max-width: 560px) {
	.heading-1 {
		font-weight: 900;
		font-size: 45px;
	}

	.heading-2 {
		font-weight: 700;
		font-size: 25px;
	}
}
