.footer {
	background-color: $bg-primary--light;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4rem;
	gap: 4rem;

	&__pay-methods {
		display: flex;
		gap: 1rem;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 1rem;

		&__item {
			display: inline-block;
			background-color: #ffffff;
			border-radius: 0.375rem;

			& img {
				height: 2rem;
			}
		}
	}

	&__social {
		display: flex;
		gap: 3rem;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 1rem;

		&__item a {
			display: block;

			img {
				display: block;
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__grid {
		display: flex;
		gap: 5rem;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-between;
		padding: 0 1rem;

		&__list {
			min-width: 15rem;
			color: $white;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			flex-grow: 1;

			&__item a {
				color: $white;
				text-decoration: none;
			}
		}
	}

	&__bottom {
		background-color: $black;
		width: 100%;

		& .container {
			display: flex;
			gap: 1rem;
			justify-content: space-between;
			padding: 3rem 1rem;
		}

		&__copyright {
			color: $white;
			flex-grow: 1;
		}

		&__list {
			display: flex;
			gap: 1rem;
			flex-grow: 1;
			justify-content: end;

			&__item a,
			&__item a:link,
			&__item a:visited,
			&__item a:active {
				color: $white;
				text-decoration: none;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.footer {
		&__bottom {
			padding: 2rem 0;

			& .container {
				flex-direction: column;
				gap: 3rem;
			}

			&__copyright {
				text-align: center;
			}

			&__list {
				justify-content: center;
				flex-wrap: wrap;
			}
		}
	}
}

@media screen and (max-width: 590px) {
	.footer {
		&__grid {
			flex-direction: column;
		}
	}
}
