.hero {
	display: block;
	position: relative;
	width: 100%;
	height: 40rem;
	overflow-x: hidden;
	overflow-y: initial;

	&__img {
		display: block;
		position: relative;
		height: 90%;
		width: 80%;
		transform: skewX(-10deg) translateX(-4rem);
		overflow: hidden;
		user-select: none;
		background-color: $bg-primary;

		img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1920px;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			transform: skewX(10deg);
			opacity: 0.5;
		}
	}

	&__line {
		height: 20%;
		width: 80%;
		position: absolute;
		left: -10%;
		bottom: 0;
		z-index: -1;
		background-color: $bg-secondary;
		transform: skew(-10deg);
	}

	&__content {
		display: block;
		position: absolute;
		bottom: 20%;
		right: 3rem;
		overflow: hidden;
	}

	&--flat {
		display: block;
		position: relative;
		width: 100%;
		height: 40rem;
		overflow-x: hidden;
		overflow-y: initial;

		&__img {
			display: block;
			position: relative;
			height: 90%;
			width: 100%;
			overflow: hidden;
			user-select: none;
			background-color: $bg-primary;

			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 1920px;
				height: 100%;
				object-fit: cover;
				object-position: bottom left;
				opacity: 0.5;
			}
		}

		&__line {
			height: 20%;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			background-color: $bg-secondary;
		}

		&__content {
			display: block;
			position: absolute;
			bottom: 20%;
			left: 3rem;
			overflow: hidden;
		}
	}
}

@media screen and (max-width: 1600px) {
	.hero,
	.hero--flat {
		&__img {
			img {
				width: 1600px;
			}
		}
	}
}

@media screen and (max-width: 1090px) {
	.hero,
	.hero--flat {
		&__img {
			img {
				width: 1090px;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.hero,
	.hero--flat {
		height: 30rem;

		&__img {
			img {
				width: 900px;
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.hero,
	.hero--flat {
		&__img {
			img {
				width: 560px;
			}
		}

		&__content {
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 1rem;

			&__title {
				text-align: center;
			}

			& .btn {
				display: block;
			}
		}
	}
}
