$offset: 187;
$duration: 2s;

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@keyframes colors {
	0% {
		stroke: $primary;
	}
	25% {
		stroke: $secondary;
	}
	50% {
		stroke: $white;
	}
	75% {
		stroke: $secondary;
	}
	100% {
		stroke: $primary;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: $offset;
	}
	50% {
		stroke-dashoffset: calc($offset / 4);
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: $offset;
		transform: rotate(450deg);
	}
}

.page-loader {
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background-color: $bg-primary;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;

	&__animation {
		animation: rotator $duration linear infinite;

		&__path {
			stroke-dasharray: $offset;
			stroke-dashoffset: 0;
			transform-origin: center;
			animation: dash $duration ease-in-out infinite,
				colors ($duration * 4) ease-in-out infinite;
		}
	}

	&__text {
		color: $white;
	}
}
