.two-columns {
	position: relative;
	width: 100%;
	height: 50rem;

	&__left {
		width: 45rem;
		height: 30rem;
		position: absolute;
		top: 4rem;
		left: 2rem;
		background-color: $black;
		box-shadow: 0 0 0 2rem $black, 0 0 0 4rem $secondary;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			opacity: 0.5;
		}

		&__content {
			position: absolute;
			left: 0;
			bottom: 1rem;
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			padding: 0 1rem;
			width: 100%;
			overflow: hidden;

			& .btn {
				display: block;
			}
		}
	}

	&__right {
		z-index: 1;
		width: 45rem;
		height: 30rem;
		position: absolute;
		right: 2rem;
		bottom: 4rem;
		background-color: $black;
		box-shadow: 0 0 0 2rem $black, 0 0 0 4rem $primary;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			opacity: 0.5;
		}

		&__content {
			position: absolute;
			left: 0rem;
			bottom: 1rem;
			text-transform: uppercase;
			padding: 0 1rem;
			width: 100%;
			overflow: hidden;

			& .btn {
				display: inline-block;
				margin-top: 1rem;
			}
		}
	}

	&__decoration {
		display: block;
		position: absolute;
		top: 2rem;
		left: 25%;
		height: calc(100% - 4rem);
		width: 50%;
		border: 1rem dashed $black;
	}

	&--flat {
		width: 100%;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 1rem;
		display: flex;
		gap: 1rem;

		&__title {
			text-transform: uppercase;
		}

		&__left,
		&__right {
			position: relative;
			width: calc(50% - 0.5rem);

			&__content {
				position: relative;
				width: 100%;
				height: 30rem;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center center;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0.5;
					transition: left 0.4s ease-out, top 0.4s ease-out,
						width 0.4s ease-out, height 0.4s ease-out;
				}

				& .btn.btn--large {
					position: absolute;
					bottom: 1rem;
					left: 50%;
					transform: translate(-50%);

					&:hover ~ img,
					&:focus ~ img {
						top: -5%;
						left: -5%;
						width: 110%;
						height: 110%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.two-columns {
		&__left,
		&__right {
			width: 40rem;
		}
	}
}

@media screen and (max-width: 1440px) {
	.two-columns {
		&__left,
		&__right {
			width: 32rem;
		}
	}
}

@media screen and (max-width: 1280px) {
	.two-columns {
		height: 58rem;

		&__left {
			height: 20rem;
			width: 70%;
			left: 0;
		}

		&__right {
			height: 20rem;
			margin-top: 8rem;
			width: 70%;
		}

		&__decoration {
			left: 10%;
			width: 80%;
		}
	}
}

@media screen and (max-width: 900px) {
	.two-columns {
		height: 48rem;

		&__left {
			width: calc(100% - 4rem);
			height: 15rem;
			left: 0;
		}

		&__right {
			right: 0;
			height: 15rem;
			width: calc(100% - 4rem);
		}

		&__decoration {
			display: none;
		}

		&--flat {
			flex-direction: column;
			gap: 4rem;

			&__left,
			&__right {
				width: 100%;

				&__content {
					height: 20rem;
				}
			}
		}
	}
}
