@font-face {
	font-family: Futura;
	src: url('./fonts/Futura Std Book.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Futura;
	font-weight: 900;
	src: url('./fonts/Futura Std Heavy.ttf');
}

@font-face {
	font-family: Futura;
	font-weight: 300;
	src: url('./fonts/Futura Thin.ttf');
}
