// Colors
$primary: #0e8388;
$secondary: #2e4f4f;
$bg-primary: #161616;
$bg-secondary: #142222;
$white: #cbe4de;
$black: #000000;

// Fonts
$fsize-1: 75px;
$fsize-2: 35px;
$fsize-3: 25px;
$fsize-4: 20px;
$fsize-base: 16px;
