// Colors
$primary: #0e8388;
$secondary: #88130e;
$bg-primary: #161616;
$bg-primary--light: #2b2b2b;
$bg-secondary: #1f5457;
$white: #cbe4de;
$lightgray: #8b9b97;
$black: #000000;

// Fonts
$fsize-1: 75px;
$fsize-2: 35px;
$fsize-3: 25px;
$fsize-4: 20px;
$fsize-base: 16px;
$fsize-small: 12px;
